# Database connection string (PostgreSQL)
DATABASE_URL="postgresql://mpwt_user:mpwt_secure_pass_2026@localhost:5432/mpwt_dits_db?schema=public"

# Redis Cache Connection String
REDIS_URL="redis://localhost:6379"

# JWT Secret
JWT_SECRET="mpwt-secret-key-2026-dits-gdptr"

# Site Configuration
NUXT_PUBLIC_SITE_URL="https://mpwt.dev"
